*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container-fluid{
    border:1px solid red;

    /* border:none; */
}
.lefttop{
    
    /* border:1px solid red; */
    
    border-right:2px solid rgb(160, 196, 107);

    
    /* padding-left:10px; */
}
.centertop{
    /* border:1px solid red; */
    border-right:2px solid rgb(160, 196, 107);

    /* padding-left: 100px; */

}
.righttop{
    /* border:1px solid red; */
    /* padding-left: 100px; */

}
.first a{
    /* border:1px solid red; */
    color:green;
    
}
.navbar-brand{
    /* border: 1px solid red; */
    font-weight: 500;
    color:black;
}
.padding{
    /* border:1px solid red; */
    font-size: 1.5em;
}
.navbar{
    /* border:1px solid red; */
}
.image1{
    /* border: 1px solid red; */
    min-height:82vh;
    width: 100%;
    background-image: url('./img/hero.jpg');
    background-size:cover;
    /* object-fit: cover; */
    background-repeat: no-repeat;
/* background-attachment: fixed; */
background-position: center;
padding-bottom:2rem ;
}
.check1{
    /* border:1px solid red; */
    margin-top:6.5rem;
    margin-left:6rem;
    font-size: 5rem;
}
.check2{
    /* border:1px solid red; */
    /* margin-top:10rem; */
    margin-left:6rem;
    font-size: 2.8rem;
    color: beige;
}
.lorem{
    margin-left:6rem;
    font-size: 1.8rem;
}
button{
    margin-top:1rem;
    margin-left:6rem;
    background-color: transparent;
    border:2px solid white;
    font-size: 2rem;
    
    }
    .check3{
        /* border:1px solid red; */
        font-size: 2rem;
    }
    .lorem{
        color:rgb(123, 60, 231);
        opacity:0.9;
    }
.about{
    /* border: 1px solid red; */
    margin-top:40px;


}
.ab1{
    /* border:1px solid red; */
    margin-top:40px;
}
.about2{
    /* margin-top:20px; */
    /* border:1px solid red; */
    color:green;font-size:1.5rem;
    /* margin-bottom: 20px; */
}
.text{

    border-left: 3px solid green;
    margin-top:20px;
    font-size:3rem;
    margin-left:10px;
}
.abouttext{
    font-size:12px;
    font-weight: 700;
}
.button1{
    /* border:1px solid red; */
    color:antiquewhite;
    background-color: green;
    /* padding-left:40px; */
    /* padding-right: 10px; */
    margin-left:80px;
    margin-top:10px;
}
.button2{
    /* border:1px solid red; */
    color:green;
    /* padding-left: 40px;   */
    margin-left:190px;
}
.box{
    /* border:1px solid red; */
    background-color:rgb(218, 208, 208);
}
.about img{
    height:53vh;
}
.container{
    /* border:1px solid red; */
}
.petonbaord{
    /* border:1px solid red; */
   min-height: 15vh;
    background-color: rgb(221, 206, 206);
}
.color{
    /* border:1px solid red; */
    font-size: 25px;
    color:rgb(105, 167, 12);
}

.second{
    margin-top:6rem;
    min-height: 15vh;
    background-color: rgb(221, 206, 206);

}
.petgrooming{
    /* border:1px solid red; */
    margin-top:30px;
    min-height: 15vh;
    background-color: rgb(235, 225, 225);


}
.jeet
{
    /* border:1px solid red; */
    margin-top:35px;
    min-height: 15.2vh;
    background-color: rgb(221, 206, 206);
}
.pr1{
    /* border:1px solid red; */
    margin-top:40px;
}
.line{
    border-left: 2px solid green;
}
.firstproduct{
    /* border: 1px solid red; */
    padding-left:40px;
    background-color: rgb(235, 225, 225);

}
.red{
    /* border:1px solid red; */
    margin-left: 490px;
    /* color:white; */
}
.buttonarrow{
    /* border:1px solid red; */
    color:whitesmoke;
    padding:2px;
    background-color: green;
}
.offer{
    /* border:1px solid red; */
    position:absolute;
    top:147rem;
    font-size: 1.8rem;
    padding-left: 30px;

}
.shop{
    color:black;
    background-color:whitesmoke;
    margin-top:5rem;
}
.background{
    color: white;
    background-color: transparent;
}
.TEAMMEMBERS{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    min-height: 75vh;
    background-image: url(img/testimonial.jpg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    /* border: 1px solid red; */
    background-color: #fff;
    min-height: 20vh;
    /* width: 40rem; */
}
.content{
    height: 100%;
}
.card2 {
    height:18rem ;
    width:35rem;
}
.card2 img{
    /* border: 2px solid red; */
    height: 40vh;
    width: vw;

}
.card{ 
    /* text-align: right; */
    /* border: 2px solid red; */
    background-color:rgb(248, 248, 244);
    height: 25rem;
    width: 20rem;
}
.card .dark{
    color: white;
    background-color:rgb(7, 199, 36);
}
.card .dark sup,sub{
    font-size: 15px;
}
.card .dark .cardb{
    /* border:0px solid transparent; */
    background-color:rgb(7, 199, 36);
}
.green{
     color: rgb(7, 199, 36);
}
.carddark1{
    /* margin-bottom: 5px; */
}
.CImage img{
    border: 2px solid red;
    height: 20rem;
    width: 25rem;

}
.PRICE{
    /* border: 1px solid red; */
    font-size: 1.5rem;
    /* margin-right:40px ; */
    color:#fff;
    background-color: rgb(32, 193, 32);
}




@media (max-width:800px){
    .text-center h1{
       font-size: 15px;
    }

    /* .image1{
        background-position: right;
    } */
    .lorem{

        font-size: 20px;
    }
    .check3{
        /* border:1px solid red; */
    margin: 10px 0px 0px 90px;
        
    }
    .offer{
        /* border:1px solid red; */
        margin-top: 1600px;
        font-size: 12px;
    }
    .shop{
        /* border: 1px solid red; */
        margin:10px;
        font-size: 20px;

    }
    .background{
        /* border: 1px solid red; */
        margin: 10px;
        font-size: 20px;
    }
    .offer span{
        border: 1px solid red;
        /* margin-top:400px; */
    }
    
}
@media (max-width:300px){
    .check1{
        /* border:1px solid rgb(0, 255, 26); */
        font-size:68px;
    }
    .check3{
        /* border:1px solid orange; */
        margin: 10px 0px 0px 90px;
        font-size:26px;

    }
    
    
}
@media (max-width:770px){
    .firstproduct{
        /* border: 1px solid red; */
        padding-left:155px;
        background-color: rgb(235, 225, 225);
        
    }
    .product{
        /* border:1px solid red; */
        /* gap:24px; */
    }
    .pr1{
        /* border:1px solid red; */
        gap:24px;
    }
    .serv{
        border: 1px solid red;
        gap:45px;
    }
    .offer{
        /* border:1px solid red; */
        margin-top: 2300px;
        font-size: 9px;
    }
    .offer h1{
        font-size: 18px;
    }
    .shop{
        font-size: 15px;

    }
    .background{
        font-size: 15px;

    }
    .staw{
        gap: 15px

    }
    .dolor{
        border: 1px solid red;
        /* margin-top: 20px;
         */
        font-size: 15px;
    }
    .button2{
        /* border:1px solid red; */
        color:green;
        /* padding-left: 40px;   */
        margin-left:130px;
    }
    
    
}
@media (max-width:1246px){
    .box{
        /* font-size:10px; */
    }
    .lasttext{
        /* border:1px solid red; */
        
        /* font-size: 10px; */
    }
    .button1{
        /* border: 1px solid red; */
        margin-left: 40px;
        /* margin-bottom: 10px; */
    }
}
